p {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.autocomplete-container {
    position: absolute;
    bottom : 10px;
    left: 0;
    right: 0;
    width : 100%;
}

.hidden {
    display: none;
}