<div #parentDiv [style.bottom]="convHeight">
  <p *ngFor='let sentence of sentences' [innerHTML]="sentence" [ngClass]="{'self': sentence.startsWith('> '), 'info': sentence.startsWith('(')}"></p>
</div>
<footer>
  <input type="text" [ngClass]="inputClass" autofocus #focus placeholder="Enter command" (keyup)="onKey($event)"  />
  <section #conversation [ngClass]="convClass">
      <p *ngFor="let option of convOptions" (click)="onClick($event)">
         <span>{{option}}</span>
      </p>
     </section>
</footer>
